.ts-index {
  display: grid;
  max-width: 1280px;
  margin: 3rem auto 2rem;
  grid-template-columns: 330px 1fr;
  aside {
    padding: 12px;
    border-right: 1px solid #eaeaea;
    h1 {
      color: rgb(34, 34, 34);
      font-size: 1.125rem;
      font-weight: 600;
      line-height: 1.82813rem;
      margin: 0.8125rem 0px;
    }
    p {
      color: rgb(136, 136, 136);
      line-height: 1.625rem;
      margin-bottom: 1.625rem;
    }
    nav {
      margin-bottom: 1.625rem;
      ul {
        list-style: none;
        padding: 0px;
        margin: 0px;
        li {
          padding: 0px;
          margin: 0.625rem 0px;
          a {
            color: rgb(34, 34, 34);
          }
        }
      }
    }
    ul.ts-outer-links {
      margin-bottom: 1.625rem;
      display: flex;
      flex-grow: 0;
      flex-shrink: 0;
      width: 8.75rem;
      flex-flow: row wrap;
      list-style: none;
      padding: 0px;
      li {
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
        height: 35px;
        cursor: pointer;
        width: 2.1875rem;
        line-height: 2.1875rem;
        text-align: center;
        padding: 0px;
        margin: 0.25rem;
        border-radius: 50%;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(235, 235, 235);
        border-image: initial;
        a {
          display: flex;
          color: rgb(34, 34, 34);
        }
      }
    }
    div {
      color: rgb(182, 182, 182);
      font-size: 0.875rem;
    }
    .ts-profile-pic {
      img {
        border-radius: 50%;
        width: 75px;
      }
    }
  }
  main {
  }
}
